<div class="container">
    <div class="card">
        <div class="card__image-container">
            <img class="card__image" src="{{adventure.image}}" alt="">
        </div>

        <div class="card__content">
            <h1 class="card__title">{{adventure.name}}</h1>
            <p>{{adventure.description}}</p>
            <p>Price: {{adventure.price}}</p>
            {{#if user}}
                {{#if isJoined}}
                    <div class="joined">You are already joined for this Adventure.</div>
                {{else}}
                    {{#if hasPlaces}}
                    <a href="/adventures/join/{{adventure._id}}" class="joinBtn">Join</a>
                    {{else}}
                        <div class="hasPlaces">There are no more places.</div>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>